<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denis.pavlovich.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_weather"
        android:label="@string/app_name"
        android:name=".application.WeatherApplication"
        android:roundIcon="@drawable/ic_weather"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity
            android:name=".activity.WActivitySettings"
            android:label="@string/title_activity_wsettings" />
        <activity
            android:name=".activity.WActivity"
            android:label="@string/app_name"
            android:theme="@style/LightTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WActivityInfo" />
        <activity
            android:name=".activity.WActivityAbout"
            android:label="@string/actionAbout"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <service
            android:name=".services.CityService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.WeatherDetailsService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>